<section>
    <h1>POWER BI</h1>
    <mat-card class="details">
        <mat-card-title class="subtitle">Detalhes do Projeto:</mat-card-title>
        <div class="outputao">
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam perspiciatis, 7
                accusamus in sint quasi adipisci delectus laborum vero cum molestias eos minima ipsa ad dolorem
                officiis,
                labore praesentium voluptatum unde.</p>
        </div>
    </mat-card>
    <mat-card class="skills">
        <mat-card-title class="subtitle">Skills Cadastradas:</mat-card-title>
        <div class="outputao">
            <div class="outputinho">
                <p>ANGULAR</p>
            </div>
            <div class="outputinho">
                <p>SCRUM</p>
            </div>
            <div class="outputinho">
                <p>PYTHON</p>
            </div>
            <div class="outputinho">
                <p>SQL SERVER</p>
            </div>
            <div class="outputinho">
                <p>I. ARTIFICIAL</p>
            </div>
            <div class="outputinho">
                <p>JAVA SCRIPT</p>
            </div>
        </div>
    </mat-card>
    <mat-card class="employees">
        <mat-card-title class="subtitle">Funcionários Alocados: </mat-card-title>
        <div class="person">
            <div class="employee-img">
                <img src="assets/img/func1.svg" alt="funcionário 1">
                <div>
                    <p>Carlos Benjamin</p>
                    <p>ANALISTA</p>
                </div>
            </div>
            <div class="skills-func">
                <div class="outputinho">
                    <p>I. ARTIFICIAL</p>
                </div>
                <div class="outputinho">
                    <p>SQL SERVER</p>
                </div>
            </div>
        </div>
        <div class="person">
            <div class="employee-img">
                <img src="assets/img/func2.svg" alt="funcionário 2">
                <div>
                    <p>Andrey Silva</p>
                    <p>CIENTISTA DE DADOS</p>
                </div>
            </div> 
            <div class="skills-func">
                <div class="outputinho">
                    <p>POWER BI</p>
                </div>
                <div class="outputinho">
                    <p>SQL SERVER</p>
                </div>
            </div>
        </div>
        <div class="person">
            <div class="employee-img">
                <img src="assets/img/func3.svg" alt="funcionário 3">
                <div>
                    <p>DENISE ROSA</p>
                    <p>ANALISTA</p>
                </div>
            </div>
            <div class="skills-func">
                <div class="outputinho">
                    <p>MySQL</p>
                </div>
                <div class="outputinho">
                    <p>POWER BI</p>
                </div>
            </div>
        </div>
    </mat-card>
    <div class="buttons-details">
        <button mat-raised-button routerLink="/projects/create" class="edit-infos">EDITAR INFORMAÇÕES</button>
        <button mat-raised-button routerLink="/projects/allocation" class="allocate">ALOCAR FUNCIONÁRIOS</button>
    </div>
</section>