.header {
    display: flex;
    align-items: center;
    background-image:linear-gradient(to right,  white, #f8f8ff);
    /* background-color:white; */
    justify-content: space-between;
}

.header a {
    display: flex;
    align-items:center ;
    text-decoration: none;
}

.header .logo{
max-height: 80px;

}

.header i{
    color:#6e00f5;
    
}