<div class="dashboard-type">
  <h2>Projetos</h2>
  <div class="dashboard-group">
    <div class="dashboard">
      <img src="assets/img/projetototal.png" class="graph" alt="">
      <p>Número Total de Projetos</p>
    </div>
    <div class="dashboard">
      <img src="assets/img/projeto.png" class="graph" alt="">
      <p>Projetos com Alocação Completa</p>
    </div>
    <div class="dashboard">
      <img src="assets/img/projeto.png" class="graph" alt="">
      <p>Projetos com Alocação Incompleta</p>
    </div>
  </div>
</div>
<div class="dashboard-type">
  <h2>Funcionários</h2>
  <div class="dashboard-group">
    <div class="dashboard">
      <img src="assets/img/grafico.png" alt="">
      <p>Número Total de Funcionários</p>
    </div>
    <div class="dashboard">
      <img src="assets/img/grafico1.png" alt="">
      <p>Funcionários Alocados</p>
    </div>
    <div class="dashboard">
      <img src="assets/img/grafico2.png" alt="">
      <p>Funcionários não Alocados</p>
    </div>
  </div>
</div>
