.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  color: #fff;
  height: 50px;
  width: 170px;
  white-space: normal;
  line-height: 17px;
}

button:hover {
    background-color: #4b00a7;
    transform: scale(1.02);
    transition: all linear 0.2s;
}

.aloc-completed {
  background-color: #280040;
  margin-right: 10px;
}

.aloc-incompleted {
  background-color: #a100ff;
}

.add-project {
  background-color: #6e00f5;
}

.filter {
  margin: 20px 0 40px 0;
}

.filter label {
  margin-right: 10px;
}

.filter select {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: 3px solid #f0f0f0;
}