<mat-card class="input-category -projects">
    <mat-card-title>Projeto</mat-card-title>
    <form>
        <div class="inputinho">
            <label for="">Nome do Projeto:</label>
            <input matInput [(ngModel)]="project.name" name="name">
        </div>
        <div class="inputinho">
            <label for="">Nome da Empresa:</label>
            <input matInput [(ngModel)]="project.costumer" name="costumer">
        </div>
        <div class="inputinho">
            <label for="">Área do Projeto:</label>
            <input matInput [(ngModel)]="project.area" name="area">
        </div>
        <div class="inputinho">
            <label for="">Duração do Projeto:</label>
            <input matInput [(ngModel)]="project.duration" name="duration">
        </div>
        <div class="inputinho -big">
            <label for="">Descrição do Projeto:</label>
            <input matInput [(ngModel)]="project.description" name="description" class="description">
        </div>
    </form>
</mat-card>
<mat-card class="input-category skills-employees">
    <div class="skills">
        <mat-card-title>Skills</mat-card-title>
        <div class="selects">
            <div class="select">
                <input type="checkbox" id="angular" name="angular">
                <label for="angular">Angular</label>
            </div>
            <div class="select">
                <input type="checkbox" id="angular" name="angular">
                <label for="angular">SQL Server</label>
            </div>
            <div class="select">
                <input type="checkbox" id="angular" name="angular">
                <label for="angular">I. Aritificial</label>
            </div>
            <div class="select">
                <input type="checkbox" id="angular" name="angular">
                <label for="angular">Python</label>
            </div>
            <div class="select">
                <input type="checkbox" id="angular" name="angular">
                <label for="angular">Java</label>
            </div>
            <div class="select">
                <input type="checkbox" id="angular" name="angular">
                <label for="angular">Ruby</label>
            </div>
            <div class="select">
                <input type="checkbox" id="angular" name="angular">
                <label for="angular">R</label>
            </div>
            <div class="select">
                <input type="checkbox" id="angular" name="angular">
                <label for="angular">C#</label>
            </div>
            <div class="select">
                <input type="checkbox" id="angular" name="angular">
                <label for="angular">Design</label>
            </div>
            <div class="select">
                <input type="checkbox" id="angular" name="angular">
                <label for="angular">Power BI</label>
            </div>
            <div class="select">
                <input type="checkbox" id="angular" name="angular">
                <label for="angular">My SQL</label>
            </div>
            <div class="select">
                <input type="checkbox" id="angular" name="angular">
                <label for="angular">C++</label>
            </div>
        </div>
    </div>
    <div class="employees">
        <mat-card-title>Cargos</mat-card-title>
        <form>
            <div class="role">
                <input matInput type="number" name="analista">
                <label for="">ANALISTA</label>
            </div>
            <div class="role">
                <input matInput type="number" name="consultor">
                <label for="">CONSULTOR</label>
            </div>
            <div class="role">
                <input matInput type="number" name="manager">
                <label for="">MANAGER</label>
            </div>
            <div class="role">
                <input matInput type="number" name="senior-manager">
                <label for="">SENIOR MANAGER</label>
            </div>
        </form>
    </div>
</mat-card>
<mat-card class="input-category -costs">
    <mat-card-title>Custos</mat-card-title>
    <form>
        <div class="inputinho">
            <label for="">Orçamento:</label>
            <input matInput [(ngModel)]="project.value" name="value">
        </div>
        <div class="inputinho">
            <label for="">Licença(s):</label>
            <input matInput name="price">
        </div>
        <div class="inputinho">
            <label for="">Seat:</label>
            <input matInput name="price">
        </div>
        <div class="inputinho">
            <label for="">Other Cost:</label>
            <input matInput name="price">
        </div>
        <div class="inputinho">
            <label for="">Hardware:</label>
            <input matInput name="price">
        </div>

    </form>
    <div class="total">
        <p>Custo Total (Planejado):</p>
        <div class="total-box"></div>
    </div>
</mat-card>
<div class="div-conclude">
    <button mat-raised-button (click)="createProject()" class="conclude">CONCLUIR</button>
</div>