<main>
    <section>
        <mat-card class="filter">
            <h2>FILTROS</h2>
            <div class="down">
                <h3>SKILL</h3>
                <i class="material-icons">expand_more</i>
            </div>
            <div class="drop">
                <div class="checkbox">
                    <input type="checkbox" id="angular" name="angular">
                    <label for="angular">Angular</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="c#" name="c#">
                    <label for="c#">C#</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="python" name="python">
                    <label for="python">Python</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="sql" name="sql">
                    <label for="sql">Sql Server</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="js" name="js">
                    <label for="js">Java Script</label>
                </div>
            </div>
            <div class="down">
                <h3>FUNÇÃO</h3>
                <i class="material-icons">expand_more</i>
            </div>
            <div class="drop">
                <div class="checkbox">
                    <input type="checkbox" id="analista" name="analista">
                    <label for="analista">ANALISTA</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="consultor" name="consultor">
                    <label for="consultor">CONSULTOR</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="manager" name="manager">
                    <label for="manager">MANAGER</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="senior" name="senior">
                    <label for="senior">SENIOR MANAGER</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="managing" name="managing">
                    <label for="managing">MANAGING DIRECTOR</label>
                </div>
            </div>
            <button mat-raised-button>FILTRAR</button>
        </mat-card>
        <mat-card class="option">
            <div class="header">
                <div>
                    <h3>Nome</h3>
                </div>
                <div>
                    <h3>Skills</h3>
                </div>
            </div>
            <div class="employee">
                <div class="profile">
                    <input type="checkbox" id="angular" name="angular">
                    <img src="/assets/img/func1.svg" alt="Foto do usuário">
                    <div>
                        <p>Carlos Benjamin</p>
                        <p>ANALISTA</p>
                    </div>
                </div>
                <div class="skills">
                    <div class="outputinho">SQL SERVER</div>
                    <div class="outputinho">I. ARTIFICIAL</div>
                </div>
            </div>
            <div class="employee">
                
                
                <div class="profile">
                    <input type="checkbox" id="angular" name="angular">
                    <img src="/assets/img/func2.svg" alt="Foto do usuário">
                    <div>
                        <p>Andrey Silva</p>
                        <p>CIENTISTA DE DADOS</p>
                    </div>
                </div>
                <div class="skills">
                    <div class="outputinho">SQL SERVER</div>
                    <div class="outputinho">POWER BI</div>
                </div>
            </div>
            <div class="employee">
                
                
                <div class="profile">
                    <input type="checkbox" id="angular" name="angular">
                    <img src="/assets/img/func3.svg" alt="Foto do usuário">
                    <div>
                        <p>Denise Rosa</p>
                        <p>ANALISTA</p>
                    </div>
                </div>
                <div class="skills">
                    <div class="outputinho">MY SQL</div>
                    <div class="outputinho">POWER BI</div>
                </div>
            </div>
            <div class="employee">
                
                
                <div class="profile">
                    <input type="checkbox" id="angular" name="angular">
                    <img src="/assets/img/func4.svg" alt="Foto do usuário">
                    <div>
                        <p>Camila Gouveia</p>
                        <p>MANAGER</p>
                    </div>
                </div>
                <div class="skills">
                    <div class="outputinho">SCRUM</div>
                </div>
            </div>
            <div class="employee">
                
                
                <div class="profile">
                    <input type="checkbox" id="angular" name="angular">
                    <img src="/assets/img/func2.svg" alt="Foto do usuário">
                    <div>
                        <p>Andrey Silva</p>
                        <p>CIENTISTA DE DADOS</p>
                    </div>
                </div>
                <div class="skills">
                    <div class="outputinho">SQL SERVER</div>
                    <div class="outputinho">POWER BI</div>
                </div>
            </div>
            <div class="employee">
                
                
                <div class="profile">
                    <input type="checkbox" id="angular" name="angular">
                    <img src="/assets/img/func3.svg" alt="Foto do usuário">
                    <div>
                        <p>Denise Rosa</p>
                        <p>ANALISTA</p>
                    </div>
                </div>
                <div class="skills">
                    <div class="outputinho">MY SQL</div>
                    <div class="outputinho">POWER BI</div>
                </div>
            </div>
            <div class="employee">
                
                
                <div class="profile">
                    <input type="checkbox" id="angular" name="angular">
                    <img src="/assets/img/func4.svg" alt="Foto do usuário">
                    <div>
                        <p>Camila Gouveia</p>
                        <p>MANAGER</p>
                    </div>
                </div>
                <div class="skills">
                    <div class="outputinho">SCRUM</div>
                </div>
            </div>
        </mat-card>
    </section>
    <button mat-raised-button routerLink="/projects/details"><img src="/assets/img/logo-button.png" alt=""></button>
</main>