<main>
    <section>
        <mat-card class="filter">
            <h2>FILTROS</h2>
            <div class="down">
                <h3>SKILL</h3>
                <i class="material-icons">expand_more</i>
            </div>
            <div class="drop">
                <div class="checkbox" *ngFor="let skill of skills">
                    <input type="checkbox" id="{{skill.nome}}" name="{{skill.nome}}">
                    <label for="{{skill.nome}}">{{skill.nome}}</label>
                </div>
            </div>
            <div class="down">
                <h3>FUNÇÃO</h3>
                <i class="material-icons">expand_more</i>
            </div>
            <div class="drop">
                <div class="checkbox">
                    <input type="checkbox" id="analista" name="analista">
                    <label for="analista">ANALISTA</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="consultor" name="consultor">
                    <label for="consultor">CONSULTOR</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="manager" name="manager">
                    <label for="manager">MANAGER</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="senior" name="senior">
                    <label for="senior">SENIOR MANAGER</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="managing" name="managing">
                    <label for="managing">MANAGING DIRECTOR</label>
                </div>
            </div>
            <button mat-raised-button>FILTRAR</button>
        </mat-card>
        <mat-card class="option">
            <div class="header">
                <div>
                    <h3>Nome</h3>
                </div>
                <div>
                    <h3>Skills</h3>
                </div>
            </div>
            <div class="employee" *ngFor="let employee of employees">
                <div class="profile">
                    <input type="checkbox" id="angular" name="angular">
                    <img src="/assets/img/profile.png" alt="Foto do usuário">
                    <div>
                        <p>{{employee.nomeCompleto}}</p>
                        <p>Manager</p>
                    </div>
                </div>
                <div class="skills">
                    <div class="outputinho">C#</div>
                    <div class="outputinho">Python</div>
                </div>
            </div>
        </mat-card>
    </section>
    <button mat-raised-button routerLink="/projects/details/{{ project[0].id }}"><img src="/assets/img/logo-button.png" alt=""></button>
</main>