<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav mat-elevation-z2" mode="side" opened
        fixedInViewport="true"  fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item>
                <i class="material-icons">
                    visibility
                </i>
                Overview
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    add
                </i>
                Adcionar Projeto
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    list
                </i>
                 Ver Projetos
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    logout
                </i>
                    Logout
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
