<div class="filters">
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome do Projeto">
        </mat-form-field>
        <i class="material-icons">
            highlight_off
        </i>
        <button mat-raised-button color="primary">Pesquisar</button>
    </form>
    
    <button class="add-project" mat-raised-button routerLink="/projects/create">ADICIONAR PROJETO</button>
</div>

<div class="list">
    <div class="row" *ngFor="let project of projects | paginate: { 
    itemsPerPage: 5,
    currentPage: page,
    totalItems: totalRecords }">
        <div class="title-project">
            <div class="circle"></div>
            <h2>{{ project.nome }}</h2>
        </div>
        <div class="details">
            <div>
                <p>DURAÇÃO: {{ project.duracao }}</p>
                <p>CUSTO: {{ project.custoPrevisto }}</p>
                <p>ÁREA: {{ project.area }}</p>
            </div>
            <a routerLink="/projects/details/{{project.id}}">Detalhes do Projeto</a>
        </div>
    </div>
    <div>
		<pagination-controls (pageChange)="page = $event"></pagination-controls>
	</div>
</div>