<div class="list">
  <div class="row">
    <div class="title-project">
      <div class="circle"></div>
      <h2>PROJETO 1: DESIGN UX|UI</h2>
    </div>
    <div class="details">
      <p>DURAÇÃO: 13/04/2021 ATÉ 13/06/2021 (2 MESES)</p>
      <p>CUSTO: R$20.000,00</p>
      <p>ÁREA: SAÚDE</p>
    </div>
  </div>
  <div class="row">
    <div class="title-project">
      <div class="circle"></div>
      <h2>PROJETO 1: DESIGN UX|UI</h2>
    </div>
    <div class="details">
      <p>DURAÇÃO: 13/04/2021 ATÉ 13/06/2021 (2 MESES)</p>
      <p>CUSTO: R$20.000,00</p>
      <p>ÁREA: SAÚDE</p>
    </div>
  </div>
  <div class="row">
    <div class="title-project">
      <div class="circle"></div>
      <h2>PROJETO 1: DESIGN UX|UI</h2>
    </div>
    <div class="details">
      <p>DURAÇÃO: 13/04/2021 ATÉ 13/06/2021 (2 MESES)</p>
      <p>CUSTO: R$20.000,00</p>
      <p>ÁREA: SAÚDE</p>
    </div>
  </div>
  <div class="row">
    <div class="title-project">
      <div class="circle"></div>
      <h2>PROJETO 1: DESIGN UX|UI</h2>
    </div>
    <div class="details">
      <p>DURAÇÃO: 13/04/2021 ATÉ 13/06/2021 (2 MESES)</p>
      <p>CUSTO: R$20.000,00</p>
      <p>ÁREA: SAÚDE</p>
    </div>
  </div>
</div>
