<div class="list">
  <div class="row">
    <div class="title-project">
      <div class="circle"></div>
      <h2>PROJETO 1: DESIGN UX|UI</h2>
    </div>
    <div class="details">
      <p>DURAÇÃO: Long Therm</p>
      <p>CUSTO: R$20.000,00</p>
      <p>ÁREA: SAÚDE</p>
    </div>
    <a routerLink="/projects/create">Detalhes do Projeto</a>
  </div>
  <div class="row">
    <div class="title-project">
      <div class="circle"></div>
      <h2>PROJETO 1: DESIGN UX|UI</h2>
    </div>
    <div class="details">
      <p>DURAÇÃO: Long Therm</p>
      <p>CUSTO: R$20.000,00</p>
      <p>ÁREA: SAÚDE</p>
    </div>
    <a routerLink="/projects/create">Detalhes do Projeto</a>
  </div>
  <div class="row">
    <div class="title-project">
      <div class="circle"></div>
      <h2>PROJETO 1: DESIGN UX|UI</h2>
    </div>
    <div class="details">
      <p>DURAÇÃO: Long Therm</p>
      <p>CUSTO: R$20.000,00</p>
      <p>ÁREA: SAÚDE</p>
    </div>
    <a routerLink="/projects/create">Detalhes do Projeto</a>
  </div>
  <div class="row">
    <div class="title-project">
      <div class="circle"></div>
      <h2>PROJETO 1: DESIGN UX|UI</h2>
    </div>
    <div class="details">
      <p>DURAÇÃO: Long Therm</p>
      <p>CUSTO: R$20.000,00</p>
      <p>ÁREA: SAÚDE</p>
    </div>
    <a routerLink="/projects/create">Detalhes do Projeto</a>
  </div>
</div>
